<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div>
            <form>
                <table>
                <tbody>
                    <tr>
                        <td>
                            <label>Nombre</label>
                        </td>
                        <td>
                            <input type="text" placeholder="(*)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Apellido</label>
                        </td>
                        <td>
                            <input type="text" placeholder="(*)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Usuario</label>
                        </td>
                        <td>
                            <input type="text" placeholder="Nombre de usuario a usar">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Contraseña</label>
                        </td>
                        <td>
                            <input type="Password" placeholder="(*)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Correo</label>
                        </td>
                        <td>
                            <input type="email" placeholder="(*)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Registrar">
                        </td>
                        <td>
                            <button>Cancelar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </body>
</html>